.container {
    margin: 0;
    padding: 0;
}
.investor-dashboard {
    display: flex;
    justify-content: space-around;

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}


