<div class="risk-profile-container">
    <h2>Perfis de Investidor</h2>

    <div class="profile-gallery">
        <mat-card 
            *ngFor="let profile of profiles" 
            [class.selected]="selectedProfile?.key === profile.key"
            (click)="selectProfile(profile)"
            class="profile-card">
            
            <img [src]="profile.imagePath" [alt]="'Imagem do Perfil ' + profile.title" alt="imagem do pefil de investidor">
            <div class="title-overlay">{{ profile.title }}</div>
        </mat-card>
    </div>

    <mat-card *ngIf="selectedProfile" class="profile-details-panel">
        <mat-card-title [class]="'profile-title-' + selectedProfile.key">
            Perfil {{ selectedProfile.title }}
        </mat-card-title>
        <mat-card-content>
            <p>{{ selectedProfile.definition }}</p>
        </mat-card-content>
    </mat-card>

    <div *ngIf="!selectedProfile" class="placeholder-message">
        Clique em um dos perfis acima para ver a definição.
    </div>
</div>