<div class="portfolio-container">
  <h2>Carteira de Investimentos</h2>

  <div class="grafico-wrapper-relative">
    <ngx-charts-pie-chart
      [view]="[450, 300]"
      [scheme]="scheme"
      [results]="chartData"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [doughnut]="true"
      [legend]="false"
      [labels]="true"
      [arcWidth]="0.40" (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <div class="total-center">
      <span class="total-value">{{ totalCarteira | currency:'BRL':'symbol':'1.0-0' }}</span>
      <span class="total-label">Total</span>
    </div>
  </div>

  <ng-template #semInvestimentos>
    <div class="empty-state">
      <p>Você não possui investimentos registrados no momento.</p>
    </div>
  </ng-template>

  <h3 class="title-table">Detalhes dos Investimentos</h3>
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Rentabilidade</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inv of investimentos">
        <td>{{ inv.tipo }}</td>
        <td>{{ inv.valor | currency:'BRL' }}</td>
        <td>{{ inv.rentabilidade | percent }}</td>
        <td>{{ inv.data }}</td>
      </tr>
    </tbody>
  </table>
</div>
