    <div class="risk-profile-card">
      <h2>Seu Perfil de Investimento</h2>
      
      <div *ngIf="perfil; else loading">
        
        <p class="profile-name">{{ perfil.perfil }} ({{ perfil.pontuacao }} pts)</p>
        <p class="description">{{ perfil.descricao }} </p>
        
        <hr>
        <p class="client-info">ID do Cliente: #{{ perfil.clienteId }}</p>
      </div>

      <ng-template #loading>
        <p>Carregando perfil de risco...</p>
      </ng-template>

      <div class="img-profile">
        <img [src]="imagemPerfilPath" alt="Imagem do perfil">
      </div>

    </div>
